// color
$bodyColor = #f5f5f5;
$partialColor = #fff;
$red = #f44336;
$deepRed = #e91c63;
$lightRed = #ff5722;
$blue = #03a9f4;
$deepBlue = #2196f3;
$lightBlue = #00bcd4;
$green = #4caf50;
$deepGreen = #009688;
$lightGreen = #8bc34a;
$black = #000;
$yellow = #FFEB3B;
$grey = lighten($black, 60%);
$lightGrey = lighten($black, 85%);
$deepGrey = lighten($black, 25%);
// $fontColor = rgba(0, 0, 0, 0.7);
$fontColor = #4c4c4c;

// font size
$size1 = 36px;
$size2 = 30px;
$size3 = 24px;
$size4 = 18px;
$size5 = 14px;
$size6 = 12px;

// shadow
$shadow = 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
$shadowLg = 0 2px 2px 2px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 2px rgba(0,0,0,.12);

// border
$radius = 5px;

// margin
$marginL = 80px;
$margin =  50px;
$marginM = 30px;
$marginS = 15px;

// media
$xsWidth = 768px;
$smWidth = 992px;
$mdWidth = 992px;
$lgWidth = 1200px;

// time
$slow = 0.5s;
$speed = 0.3s;
$fast = 0.2s;

// mixin

transition(){
  transition: arguments;
  -webkit-transition: arguments;
  -moz-transition: arguments;
  -ms-transition: arguments;
}

transform(){
  transform: arguments;
  -webkit-transform: arguments;
  -moz-transform: arguments;
  -ms-transform: arguments;
}

// other
